@charset "ISO-8859-1";


*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  color: var(--color-white);
  margin: 0;
}

/* mobile friendly alternative to using background-attachment: fixed */
body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background-image:
    url(https://images.unsplash.com/photo-1598488035139-bdbb2231ce04?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8bXVzaWMlMjBzdHVkaW98ZW58MHx8MHw%3D&ixlib=rb-1.2.1&w=1000&q=80);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
label {
  display: flex;
  align-items: center;
  font-size: 1.125rem;
  margin-bottom: 0.5rem;
  margin-left: 15%;
  color: MintCream;
}  

input , button{
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
.container {
  width: 100%;
  margin: 3.125rem auto 0 auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
/* form */

form {
  background: var(--color-darkblue-alpha);
  padding: 2.5rem 0.625rem;
  border-radius: 0.25rem;
}

@media (min-width: 480px) {
  form {
    padding: 2.5rem;
  }
}

.form-group {
  margin: 0 auto 1.25rem;
  padding: 0.25rem;
}

.form-control {
  display: block;
  width: 70%;
  height: 2.155rem;
  padding: 0.375rem 0.75rem;
  color: #495057;
  margin-left : 15%;
  background-color: Beige;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
button {
	padding : 30%;
	margin-left: 30%;
}

.submit-button {
  display: block;
  width: 30%;
    font-size: 1.425rem;
  height : 2.275rem;
  padding: 0.175rem 0.75rem;
  background:  Beige;
  color: IndianRed;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  cursor: pointer;
	margin-left: 55%;
}
