@charset "ISO-8859-1";
video {
      position: fixed;
      top: 50%;
      left: 50%;
      min-width: 100%;
      min-height: 100%;
      transform: translate(-50%, -50%);
    }
    body {
    margin : 0;
    padding : 0;
    }
.container 
{
  left : 25%;
  position: absolute;
  transform: translate(-50, -50%);
      height: auto;
      width : auto;
            text-align: center;
            color: #ffffff; 
}
h1 {
  font-size: 2rem;
  margin-bottom: 0;
  color : Aqua;
    margin-top: 2px;
  
}
button {
	color : MistyRose;
	 background-color: Crimson;
	 border: None;
	 font-size: 2rem;
	 height : 50px;
	 width : 30%;
	 border-radius : 10px;
}

ul {
  max-width: 550px;
  margin: 0 auto 50px auto;
  text-align: left;
  line-height: 1.6;
}

li {
  margin: 16px 0;
  color: BlanchedAlmond;
}
