
<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Admin</title>
   <link rel="stylesheet" th:href="@{/adminHome.css}" >
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Protest+Revolution&display=swap" rel="stylesheet">
</head>
<body>
<div>
<video autoplay muted loop>
      <source src="https://github.com/SonaliPriyadarsani/AudioFiiles/raw/main/Untitled%20video%20-%20Made%20with%20Clipchamp.mp4" type="video/mp4">
    </video>
</div>
 <div class="navbar">
  <div class="logo">
  <h1>TUNEHUB</h1>
  </div>
   </div>
<div class="addsong">
<h1 class="h1heading">Add A New Song</h1>
<a href="newSong"><img alt="Add New Song" src="https://tse3.mm.bing.net/th?id=OIP.FyYLQUqKbWIcp4mqVkQTGQHaEo&pid=Api&P=0&h=220" width="270"></a>
</div>
<div class="viewsong">
<h1>View All Songs</h1>
<a href="viewSongs"><img alt="View All Song" src="https://tse4.mm.bing.net/th?id=OIP.ejfDesKZEK-jgxAMacT8YQHaEo&pid=Api&P=0&h=220" height="200" width="270"></a>
</div>
<div class="createplaylist">
<h1 class="cplaylist">Create PlayList</h1>
<a href="createPlaylist"><img alt="Create PlayList" src="https://tse3.mm.bing.net/th?id=OIP.RcsKO1g-jTQhV2ETg8q-6QHaFH&pid=Api&P=0&h=220" height="200" width="270"></a>
</div>
<div class="viewplaylist">
<h1 class="h1playlist">View PlayList</h1>
<a href="viewPlaylists" ><img alt="Create PlayList" src="https://tse4.mm.bing.net/th?id=OIP.cwG9OIaBE7INyQ-cgeXydgHaEo&pid=Api&P=0&h=220" height="200" width="270"></a>
</div>
</body>
</html>