
<!DOCTYPE html>
 <html>
  <head>
   <meta charset="ISO-8859-1">
   <title>HomePage</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
            <link rel="stylesheet" th:href="@{/home.css}" >
      
  </head>
  <body>
  <header>
      <h1>Tunehub</h1>
      <nav>
        <ul>
          <li><a href="login" accesskey="s">Login</a></li>
          <li><a href="logout" accesskey="s">Logout</a></li>
          <li><a href="customerHome" accesskey="s">Home</a></li>
        </ul>
         </nav>
    </header>
    <div class="gallery">
     <img src="https://tse4.mm.bing.net/th?id=OIP.RV2VFZaeA15xMESi-spdxgHaEo&pid=Api&P=0&h=220">
      <img src="https://tse4.mm.bing.net/th?id=OIP.hReZ1HgLy4r73BpfTMsjowHaEo&pid=Api&P=0&h=220">
      <img src="https://tse1.mm.bing.net/th?id=OIP.38tNxUMBJPp8K6SdyrFVJQHaEo&pid=Api&P=0&h=220">
      <img src="https://tse4.mm.bing.net/th?id=OIP.z3DADQDGG-hMo41JgYCP7wHaEK&pid=Api&P=0&h=220">
      <img src="https://tse4.mm.bing.net/th?id=OIP._WHGn3JZHG2DokhL4RzB7gHaHa&pid=Api&P=0&h=220">
      <img src="https://tse1.mm.bing.net/th?id=OIP.LmTAfj-LxS7CBn0ZYoh-QgHaEo&pid=Api&P=0&h=220">
      <img src="https://tse4.mm.bing.net/th?id=OIP.IZHogx6glfx18pJUcmNiUAHaEp&pid=Api&P=0&h=220">
      <img src="https://tse4.mm.bing.net/th?id=OIP.6WwxzqaiW2cPh5-9q7VFCwHaEK&pid=Api&P=0&h=220">
      <img src="https://tse2.mm.bing.net/th?id=OIP.FuuoadGBPXp48vAUaJCN7QHaFS&pid=Api&P=0&h=220">
    </div>
  </body>
 </html>